* {
    margin: 0;
    box-sizing: border-box;
}

.identification {
    margin: 0 auto;
    width: 90dvw;
    max-width: 65ch;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    color: #8eb533;

    .titres {
        display: flex;
        flex-direction: column;
        padding-top: 5dvh;
        height: 50dvh;
        gap: 2rem;
    }

    .cadre {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 2rem;

        p {
            color: white;
        }
    }

}