* {
  margin: 0;
  box-sizing: border-box;
}

.navBar {
  margin: 0 auto;
  width: 90%;
  height: 10dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--text-color);
  margin-bottom: 1rem;
  gap: 1rem;
  // position: sticky;
  // top: 0;
  z-index: 1;
  @media screen and (min-width: 745px) {
    gap: 2rem;
  }

  @media screen and (max-width: 520px) {
    flex-direction: column;
    height: 15dvh;
    gap: 0.5rem;
  }

  .navLink {
    color: var(--lighter-color);
    text-shadow: 0.5px 0.5px 0.5px var(--text-color);
  }

  .navLink:hover {
    color: var(--text-color);
  }
}

.identification {
  margin: 0 auto;
  width: 90%;
  max-width: 65ch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  color: #8eb533;

  .titres {
    display: flex;
    flex-direction: column;
    height: 40%;
    gap: 2rem;
  }

  .cadre {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;

    p {
      color: white;
      text-align: center;
    }
  }
}
