#root {
    min-height: 80dvh;
}

#survey-div {
    color: var(--text-color);
    text-align: center;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    color: var(--lighter-color);
    gap: 32px;

    h3 {
        margin: 1rem;
    }

    button {
        border-color: var(--text-color);
    }

    button:hover {
        color: var(--text-color);
    }

    #grandcontainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;

        .grandcontainer-a {
            border: 1px solid var(--text-color);
            border-radius: 6px;
            background-color: var(--darker-colorTransparent);
            color: var(--lighter-color);
            padding: 1rem;
            width: 11rem;
            height: 11rem;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }

        .grandcontainer-a:hover {
            background-color: rgba($color: #8eb533, $alpha: 0.05);
            color: var(--text-color);
        }

        img {
            width: 3rem;
        }

        p {
            color: var(--lighter-color);
        }
    }

    @media screen and (min-width: 464px) {
        h3 {
            margin-bottom: 5rem;
        }
    }
}